
<section id="contact" class="contact">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Contact Us</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="contact-about">
          <h3>Akeshya</h3>
          <p>Designers, developers  &  marketeers capable of delivering solutions according to your needs,</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="info">
          <div>
            <i class="ri-map-pin-line"></i>
            <p>26-2-789, 7th street, Jyothi Nagar, Nellore, Andhra Pradesh 524004</p>
          </div>
          <div>
            <i class="ri-mail-send-line"></i>
            <p>akeshya@outlook.com<br/>info@akeshya.com</p>
          </div>
          <div>
            <i class="ri-phone-line"></i>
            <p>+91 94942 40922 </p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
        <form class="php-email-form" method="POST" name="contact" id="contact-form">
          <input type="hidden" name="form-name" value="contact" />
          <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>
    </div>
  </div>
</section>

<div id="thank-you-overlay" class="thank-you-overlay" style="display: none;">
  <div class="main">
    <div class="card">
      <div class="header">
        <h1><b>Thank you!</b></h1>
        <br/>
      </div>
      <div class="body">
        <p>Your form submission has been received.</p>
        <p>
          <a href="#" id="back-link" onclick="closeOverlay(event)">← Back to our site</a>
        </p>
      </div>
    </div>
  </div>
</div>


<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: black; 
    margin: 0;
    padding: 0;
  }

  h1 {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
  }

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 364px;
    padding: 24px;
    background: white;
    color: rgb(14, 30, 37);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .16);
  }

  a {
    margin: 0;
    text-decoration: none;
    font-weight: 600;
    line-height: 24px;
    color: #007067;
  }

  a svg {
    position: relative;
    top: 2px;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    text-decoration-color: #f4bb00;
  }

  a:hover svg path{
    fill: #007067;
  }

  p:last-of-type {
    margin: 0;
  }
</style>

<script>
  (function() {
  "use strict";

  const select = (el, all = false) => {
    el = el.trim();
    if (all) {
      return [...document.querySelectorAll(el)];
    } else {
      return document.querySelector(el);
    }
  };

  const on = (type, el, listener, all = false) => {
    let selectEl = select(el, all);
    if (selectEl) {
      if (all) {
        selectEl.forEach(e => e.addEventListener(type, listener));
      } else {
        selectEl.addEventListener(type, listener);
      }
    }
  };

  on('submit', '#contact-form', function(event) {
    event.preventDefault(); 

    select('#thank-you-overlay').style.display = 'flex';
  });

  window.closeOverlay = function(event) {
    event.preventDefault();
    select('#thank-you-overlay').style.display = 'none';
  };

  window.addEventListener('load', function() {
    select('#thank-you-overlay').style.display = 'none';
  });
})();

</script>
